include LICENSE README.md
recursive-include vendor *.hpp *.txt *.md
recursive-include tests *.py *.md
recursive-include benchmarks *.py *.json *.md
exclude benchmarks/baseline-results.*
exclude benchmarks/optimization-check.*
recursive-include src/rapidxmltodict *.pyi py.typed
recursive-include docs *.md

recursive-include scripts *.py
include src/rapidxmltodict/_version.py
prune .github
