include LICENSE README.md
recursive-include vendor *.hpp *.txt *.md
recursive-include tests *.py *.md
recursive-include benchmarks *.py *.json *.md
exclude benchmarks/baseline-results.*
exclude benchmarks/optimization-check.*
